@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-blue: #0066AE;
  --color-brand-light: #CCEEFF;
}

body {
  font-family: var(--font-sans);
}
.m-bg-white {
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
}
.hero-bg {
    background-image: url(../images/Amulet-Pharmaceuticals.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
